.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr minmax(0px, 768px) 1fr;
  grid-template-rows: 92px auto 1fr 70px;
  grid-template-areas:
    "header header header"
    ". error ."
    ". main ."
    "footer footer footer";
}

.hide {
  display: none !important;
}

.info {
  grid-area: error;
  display: flex;
  justify-self: center;

  .loading {
    margin-top: 20px;
    animation: rotate 1.5s linear 0s infinite normal;
    height: 64px;
    width: 64px;
  }
}

.error {
  margin-top: 20px;
  text-align: center;
  font-size: 0.6em;
  font-weight: 600;
  color: $red;
}

/* HEADER */

.header {
  width: 100%;
  font-size: 2.5rem;
  padding: 10px 20px;
  grid-area: header;
  display: grid;
  grid-template-areas: "logo search settings";
  align-items: center;
  grid-template-columns: 1fr 360px 1fr;
  padding: 0 32px;
  margin: 32px 0 16px;

  &-left {
    display: flex;
    grid-area: logo;
    &__logo {
      height: 40px;
      width: 40px;
      user-select: none;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 900;
      color: $white;

      &-accent {
        color: $sun;
      }
    }
  }

  &-center {
    grid-area: search;
    justify-self: center;
  }

  &-search {
    display: flex;
    justify-content: center;

    &__input {
      border-radius: 20px 0 0 20px;
      padding: 4px 0 4px 16px;
      border: 2px solid $dark-blue;
      border-right: none !important;
      transition: border 0.3s;

      &:hover,
      &:hover + .header-search__submit {
        border: 2px solid $white;
        transition: border 0.3s;
      }

      &:focus,
      &:focus + .header-search__submit {
        border: 2px solid $white;
        transition: border 0.3s;
      }
    }

    &__submit {
      cursor: pointer;
      width: 56px;
      border-radius: 0 20px 20px 0;
      border: 2px solid $dark-blue;
      border-left: none !important;
    }

    &__icon {
      height: 20px;
      width: 20px;
      user-select: none;
    }
  }

  &-search > * {
    background-color: $dark-blue;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: $white;
    transition: border 0.3s;
  }

  &-right {
    grid-area: settings;
    justify-self: end;
  }

  &-settings {
    display: flex;
    justify-content: center;

    &__imperial {
      margin-left: 8px;
    }
  }

  &-settings > * {
    font-weight: 700;
    background-color: $dark-blue;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 14px;
    padding: 4px 16px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid $dark-blue;

    &:hover,
    &.active {
      border: 2px solid $white;
    }
  }
}

/* MAIN */

.main {
  grid-area: main;
  display: grid;
  row-gap: 40px;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  grid-template-areas:
    "title title"
    "weather details"
    "daily daily";
  margin: 32px;
  justify-items: center;

  &-heading {
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__geo {
      font-size: 2.5em;
      font-weight: 700;
    }

    &__time {
      color: $transparent-white;
      font-size: 1.2em;
      font-weight: 600;
    }
  }

  &-weather {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .weather {
    &-main {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &-icon {
      width: 64px;
      height: 64px;
    }

    &-temp {
      font-weight: 700;

      .data-temp {
        font-size: 64px;
      }
      .data-unit {
        font-size: 64px;
      }
    }

    &-desc {
      font-size: 26px;
      font-weight: 800;
    }

    &-feels {
      display: flex;
      color: $transparent-white;

      &-temp {
        font-size: 18px;
        font-weight: 700;
      }
    }

    &-wind {
      color: $transparent-white;
      font-size: 18px;
      font-weight: 700;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 11px;
    }

    &-feels {
      display: flex;
    }
  }

  &-details {
    grid-area: details;
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .detail {
    font-weight: 700;

    &-title {
      color: $transparent-white;
    }

    &-data {
      font-size: 24px;
      margin-top: 8px;
    }
  }

  .uvi {
    padding: 1px 11px;
    border-radius: 50%;

    &-green {
      background-color: $lighten-green;
    }

    &-yellow {
      background-color: $sun;
    }

    &-orange {
      background-color: $orange;
    }

    &-red {
      background-color: $red;
    }
  }

  &-daily {
    grid-area: daily;
    width: 100%;
    max-width: 448px;
  }

  .daily {
    &-header {
      font-weight: 700;
      text-align: center;
      font-size: 32px;
      margin-bottom: 32px;
    }

    &-list {
      .daily-item {
        display: grid;
        grid-template-columns: 108px 82px 78px 100px;
        font-size: 20px;
        column-gap: 32px;
        row-gap: 4px;

        &__date {
          font-weight: 800;
          font-size: 20px;
        }
      }

      .daily-item:not(:last-child) {
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 2px solid $transparent-white;
      }

      .daily-weather-icon {
        vertical-align: -0.125em;
        height: 1em;
        width: 1em;
        margin-right: 2px;
      }
    }
  }
}
/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  gap: 10px;
  color: $white;
}

.nickname {
  font-size: 20px;
  color: $white;
  margin-right: 5px;

  &:hover {
    color: $white;
  }
}

.github-icon {
  animation: blinking 5s infinite alternate;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 15px 2px $sun;
  }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 992px) {
  .wrapper {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto minmax(calc(100vh - 187px), auto) 70px;
  }

  .header {
    grid-template-rows: auto 40px auto;
    row-gap: 16px;
    grid-template-areas:
      ". logo ."
      ". search ."
      ". settings .";

    &-left {
      justify-self: center;
    }

    &-right {
      justify-self: center;
    }
  }

  .main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-areas:
      "title"
      "weather"
      "details"
      "daily";

    &-weather {
      flex-direction: row;
    }

    &-details {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 576px) {
  .wrapper {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto minmax(calc(100vh - 227px), auto) 70px;
  }

  .main {
    margin: 16px;

    &-weather {
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }
  }

  .header {
    grid-template-columns: 1fr 280px 1fr;

    &-right {
      margin-top: 0;
    }

    &-search__input {
      width: 224px;
    }
  }

  .daily-item {
    grid-template-columns: 128px 92px !important;
    grid-template-rows: auto auto;
    justify-content: center;
    text-align: center;
    grid-template-areas:
      "day wind"
      "day-temp night-temp";

    &__date {
      grid-area: day;
    }

    &__day-temp {
      grid-area: day-temp;
    }

    &__night-temp {
      grid-area: night-temp;
    }

    &__wind {
      grid-area: wind;
    }
  }
}

/* ANIMATIONS */

@keyframes blinking {
  from {
    fill: $black;
  }
  to {
    fill: $white;
    box-shadow: 0 0 15px 5px $sun;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
