$primary: #222629;
$secondary: #474b4f;
$lighten-green: #86c232;
$mid-green: #23bd6370;
$dark-green: #2d7e35;
$lighten-dark: #3f3f3f;
$mid-dark: #282828;
$sky: #2e9cca;
$cloud: #4fbdec;
$blue: #0088c2;
$dark-blue: #0e2d44;
$sun: #ffd900;
$red: #950101d1;
$orange: #d77f04d1;
$grey: #6b6e70;
$white: #fff;
$black: #000;
